body,html {
    margin: 0 auto;
    background-color: #F6F8F9;
    font-family: 'Helvetica';
}
#mainDivDiv{
    display: none;
}
/* display-flex property--------------------- */
header, ul , .news-description , .mobile-nav, .mobile-nav a , .footer-nav, .left-side , .more-news , .banner , .news , .news-wrapper, .article, .time , .dots , .title ,.article-wrapper , .large, .small , footer ,.rightSide , .world-news , .news-text{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
/* header--------------------------------------     */
header {
    width: 100%;
    padding: 15px 30px 15px 40px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.logo{
    font-size: 13px;
    font-weight: bold;
    color: #FA6980;
}
ul{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
li a{
    font-size: 11px;
    color: #34363883;
    font-weight: bold;
    border-radius: 8px;
    padding: 3px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
header li{   
    padding-right: 25px;
}
.child-box{
    position: relative;
    width: 30.33%;
    border-radius: 8px;
    overflow: hidden;
}
.mobile-nav a{
    align-items: center;
}
li:nth-child(1) a{
    color:  #343638;
}
nav a:hover{
    -webkit-box-shadow: 0 0 4px 2px rgb(41, 41, 41);
            box-shadow: 0 0 4px 2px rgb(41, 41, 41);
    color:  #343638;
}
.rightSide{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
/* burger-menu--------------------- */
#burgerIcon{
    display: none;
}
#burgerMenu{
    width: 290px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #f6f8f9;
    padding-top: 40px;
    -webkit-box-shadow: 0px 0px 12px 0px #00000082;
            box-shadow: 0px 0px 12px 0px #00000082;
    position: absolute;
    z-index: 1;
    top: 0; 
    left: -118%;
    -webkit-transition: 0.5s ;
    -o-transition: 0.5s ;
    transition: 0.5s ;
}
.menu-logo{
    margin-bottom: 80px;
    color: #FA6980;
}
.mobile-nav {
    padding: 90px 130px 150px 40px;
}
.mobile-nav ul{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.mobile-nav li{
    margin-bottom: 40px;
}
.mobile-nav img{
    margin-right: 30px;
}
#burgerMenu li {
    padding-right: 0px;
}
#burgerMenu .icons li{
    margin-left: 18px;
}
.arrowBack {
    margin-left: 40px;
}
#Back{
    margin-left: 54%;
}
.back{
    display: none;
}


/* section 1 */
.banner-image{
    background-image: url(../images/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
    width: 58%;
}
.banner-image img{
    display: none;
    width: 100%;
    min-height: 390px;
    object-fit: cover;
}
.text{
    position: absolute;
    width: 70%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50% , -50%);
        -ms-transform: translate(-50% , -50%);
            transform: translate(-50% , -50%);
    color: white;
}
.text h2{
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 5%;
    border-bottom: 2px solid #EBEDED;
    margin-bottom: 5%;
}
.text h3{
    font-size: 24px;
    font-weight: bold;
}
.text p{
    font-size: 16px;
    font-weight: normal;
    padding: 10px 0 20px 0;
}
button {
    color: #ffffff;
    width: 134px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: #FA6980;
    cursor: pointer;
    font-weight: bold;
    outline: none;
}
button:hover{
    background-color: #ff9fae;
}
button:focus{
    border: 2px solid #f83555;
}
.news-description{
    background-color: white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px 80px;
    width: 42%;
}
.news-wrapper{
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.more-news{
    font-size: 24px;
    font-weight: bold;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 2px solid #EBEDED;
    padding-bottom: 40px;
}
.left-arrow{
    padding-right: 40px;
    opacity: 0.5;
}
.arrows img{
    cursor: pointer;
}
.new-wrapper{ 
    -ms-flex-wrap: wrap; 
        flex-wrap: wrap;
}
.news{
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
}
.news .time{
    margin-top: 20px;
}
.news h4{
    font-size: 16px;
    font-weight: bold;
    color: #FA6980;
}
.news h5{
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    margin: 20px 0 10px 0;
}
.news p{
    font-weight: normal;
    color: #A6ADB4;
}
.time{
    font-size: 16px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 12px;
}
.time img{
    margin-right: 8px;
    width: 16px;
}
.container{
    margin: 0 auto;
    padding: 50px 130px;
}
.title{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.title h3{
    font-size: 24px;
    font-weight: bold;
}
.search{
    padding: 50px 130px;
}
/* TRENDING-------------- */

.child-box:hover .hover-button{
    display: block;
}
.child-box:hover .article-image{
    -webkit-filter: brightness(0.5);
            filter: brightness(0.5);
}
.child-box:hover .description{
    -webkit-filter: brightness(0.5);
            filter: brightness(0.5);
}
.article-image{
    width: 100%;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    height: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    min-height: 180px;
}
.description{
    padding: 8% 11%;
    background-color: white;
}
.description h4{
    font-weight: bold;
    font-size: 16px;
}
.description p{
    font-family: 'Acumin Pro';
    font-family: 'Acumin Pro';
    color: #A6ADB4;
    line-height: 30px;
    margin: 8px 0;
}
.hover-button{
    display: none;
    position: absolute;
    TOP: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 50px;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
}
/* .happening-now--------- */


.absolute{
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 40px;
    left: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 82%;
    width: 100%;
}
.title-overlay , .bottom-overlay h4{
    font-weight: bold;
}
.title-overlay{
    font-size: 16px;
}
.bottom-overlay h4{
    font-size: 24px;
}
.bottom-overlay p{
    font-size: 16px;
    padding-right: 180px;
    margin: 10px 0;
}
.article-wrapper{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.small-child {
    position: relative;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
}
.small-child h4{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}
.small-child p {
    font-size: 13px;
    color: #A6ADB4;
}
.article-description{
    padding: 25px 0 23px 10px;
}
.small-child .time{
    margin-top: 20px;
}
.happening-now{
    padding: 50px 0 100px 0;
}
.large{
    width: 70%;
    padding-right: 2%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.back-picture{
    width: 100%;
    min-height: 300px;
    object-fit: cover;
}
.large-child{
    position: relative;
    color: white;
    margin-bottom: 6% ;
}
.small{
    width: 30%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.small-picture{
    width: 100%;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.small-child:hover .hover-button{
    display: block;
}
.small-child:hover .small-picture{
    -webkit-filter: brightness(0.5);
            filter: brightness(0.5);
}
footer{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin: auto;
    padding: 60px 140px;
    background-color: #A6ADB4;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
/* footer navigation-------------------- */
footer .logo{
    color: white;
}
.footer-nav ul{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 60px;
}
.footer-nav a{
    font-weight: bold;
    color: #CBD0D3;
    opacity: 1;
    font-size: 13px;
}
footer li:nth-child(1) a{
    color: #CBD0D3;;
}
/* form------------------------------ */
form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
}

#email {
    width: 260px;
    height: 40px;
    margin: 0 0 20px 0;
    background-color: #f8f8f800;
    border: 2px solid #ffffff2e;
    font-size: 13px;
    font-weight: normal;
    color: #ffffff26;
    padding: 10px;
    outline: none;
}
#email:focus{
    border: 2px solid #ffffff;
    background-color: #ffffff47;
}
form img{
    width: 16px;
    position: absolute;
    bottom: 42px;
    right: 10px;
}
.send{
    cursor: pointer;
}
.f-label{
    font-size: 11px;
    color: #CBD0D3;
}
/* social media icons------------------------------ */
.icons{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}
.icons li{
    margin-left: 10px;
}
.icons li:nth-child(1){
    margin-left: 0px;
}
/* PAGE 2---------------------------------------------------------------- */
.Container{
    padding: 40px 140px 0 140px;
}
.story a{
    color: black;
    padding-left: 30px;
    font-weight: bold;
}
.story span{
    padding-left: 15px;
    color: #a6adb4;
}
.filter img{
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid #00000000;
}
.filter img:hover{
    border: 2px solid #0000005e;
}
.world-news{
    border-radius: 8px;
    overflow: hidden;
}
.bannerImage{
    background-image: url(../images/world-news.png);
    position: relative;
    background-position: center;
    background-size: cover;
    width: 50%;
}
.background-image{
    width: 100%;
    display: none;
}
.news-text{
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.news-text h2{
    font-size: 32px;
    border: none;
    padding: 0;
    margin: 0;
}
.divider{
    width: 40px;
    height: 3px;
    background-color: #FA6980 ;
    margin: 40px 0;
}
.news-text h3 {
    font-size: 16px;
    text-align: center;
}
/* inputs----------------- */
.inputs{
    width: 50%;
    background-color: white;
    border-radius: 12px;
    padding: 125px 110px;
}
input[type=date]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}
input[type=date]:focus::-webkit-datetime-edit {
    color: black !important;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(../images/ICONS/dropdown.png) no-repeat;
    width: 10px;
    height: 6px;
    border-width: thin;
    cursor: pointer;
}
.avatar{
    width: 40px;
    border-radius: 25px;
    margin-top: 20px;
}
.inputs input{
    outline: none;
    width: 100%;
    height: 40px;
    border: 3px solid #EBEDED;
    border-radius: 8px;
    margin: 10px 0 40px 0;
}
.inputs label {
    font-size: 13px;
    font-weight: bold;
}
.article{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 56px 0;
    border-top: 2px solid #EBEDED;
    border-bottom: 2px solid #EBEDED;
    margin: 38px 0;
}
.article h4{
    font-size: 24px;
    font-weight: bold;
}
.article p{
    width: 360px;
    font-size: 14px;
    color: #A6ADB4;
}
.newspaper{
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    width: 62%;
    font-size: 14px;
    color: #A6ADB4;
}
.main-article{
    margin-bottom: 160px;
    border-bottom: 2px solid #EBEDED;
}
.articleImage{
    width: 100%;
}
.text-area{
    font-size: 14px;
    color: #A6ADB4;
    padding: 40px 400px 0 0;
}
.text-area p{
    margin-bottom: 30px;
}
.hide{
    display: none;
    font-size: 14px;
    font-weight: bold;
    color: black;
}
.pagination{
    display: none;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 70px;
}
.pagination a{
    text-decoration: none;
    color: #151515;
    font-weight: bold;
    font-size: 11px;
    margin-right: 20px;
    padding-bottom: 5px;
}
.pagination a:nth-child(1){
    border-bottom: 2px solid #FA6980;
}
.dots div{
    width: 4px;
    height: 4px;
    background-color: black;
    border-radius: 50%;
    margin-right: 2px;
}
.dots{
    cursor: pointer;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}



/* loader--------------------- */
#loader {
    background-color: #edf8ff;
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.circle {
    position: absolute;
    border: 1px solid #ffffff00;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    -webkit-animation: rotate 1s linear infinite;
            animation: rotate 1s linear infinite;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-filter: drop-shadow(2px 4px 6px #FA6980);
            filter: drop-shadow(2px 4px 6px #FA6980);
}
.loaderlogo {
    position: absolute;
    z-index: 2;
    -webkit-filter: invert(1);
            filter: invert(1);
}
.rotate {
    border-radius: 50%;
    width: 130px;
    height: 130px;
    -webkit-box-shadow: 1px -20px 20px 0px #fa6980;
            box-shadow: 1px -20px 20px 0px #fa6980;
    overflow: hidden;
}
.unilab{
    top: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    font-size: 57px;
    font-weight: bolder;
    letter-spacing: 7px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-animation: fade 3s;
            animation: fade 3s; 
}
.unilab h3{
    font-size: 24px;
}
@keyframes rotate  {
    from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@media (max-width: 1200px) {

    /* banner---------------- */
    .container{
        padding: 50px 80px;
    }
    .search{
        padding: 50px 80px;
    }
    .banner{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .banner-image{
        background-image: none;
        width: 100%;
    }
    .banner-image img{
        display: block;
    }
    .news-description{
        width: 100%;
    }
    .news {
        width: 44%;
    }
    .text{
        width: 85%;
    }
    .world-news{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .bannerImage{
        width: 100%;
        background-image:url(../images/unilablogo.png)
    }
    .background-image{
        display: block;    
    }
    .inputs{
        width: 100%;
    }
    .Container {
        padding: 40px 80px 0 80px;
    }
    .description{
        font-size: 12px;
    }
    .description .time{
        margin-top: 0px;
        font-size: 12px;
    }
    .description p{
        line-height: 18px;
        margin: 8px 0 0;
    }

    .large{
        width: 100%;
        padding-right: 0%;
        min-width: 712px;
    }
    .small{
        width: 100%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    .small-child{
        width: 48%;
    }
    .small-child:nth-child(3){
        display: none;
    }

    .article{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .article h4{
        font-size: 24px;
        font-weight: bold;
        width: 60%;
    }
    .avatar-picture{
        margin-bottom: 30px;
    }
    .newspaper{
        width: 100%;
        -webkit-column-count: 1;
           -moz-column-count: 1;
                column-count: 1;
    }
    .text-area{
        padding: 40px 0px 0 ;
    }
    .main-article{
        margin-bottom: 20px;
    }
    footer{
        padding: 60px 120px 60px 80px;
    }
    .left-side{
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 100%;
    }
    .icons , .middle{
        margin-top: 10%;
    }
}

@media (max-width: 860px){
    .child-box{
        width: 47%;
    }
    .child-box:nth-child(3){
        display: none;
    }
    .large{
        min-width: 0;
    }

    .hide{
        display: block;
    }
    .pagination{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}
@media(max-width: 630px){
    header{
        padding: 15px 30px 15px 20px;
    }
    .Container{
        padding: 20px 20px 0 20px;
    }
    /* header--------------- */
    header nav{
        display: none;
    }
    .logo{
        color: #A6ADB4;
    }
    .text {
        width: 93%;
    }
    #burgerIcon{
        display: block;
    }
    .icons{
        margin-left: -65px;
    }
    .account img{
        width: 16px;
    }
    /* sections--------------------- */
    .search{
        padding: 0;
    }
    .small {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .small-child{
        width: 100%;
    }
    .small-child:nth-child(3){
        display: block;
    }
    .inputs{
        padding: 20px;
    }
    .search .title{
        padding: 20px 20px 0 20px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .story{
        display: none;
    }
    .back {
        display: block;
    }
    .container{
        padding: 20px 20px 0 20px;
    }
    .bottom-overlay p{
        overflow: hidden;
        height: 33px;
        padding-right: 60px;
    }
    .bottom-overlay .time img{
        margin: 0 8px 18px 0;
    }
    .news-description{
        padding: 25px;
    }
    .news{
        width: 100%;
    }
    /* footer------------------ */
    footer {
        display: none;
    }
    #mobile-footer{
        display: block;
    }
    footer{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    footer .logo , .footer-nav ul:nth-child(1) , .middle {
        display: none;
    }
    .footer-nav li{
        margin-bottom: 30px;
    }
    .left-side{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .footer-nav ul{
        margin-left:0;
    }
    .footer-nav ul:nth-child(3){
        margin-left: 40px;
    }
}
@media (max-width: 375px){
    .child-box{
        width: 100%;
    }
    .absolute{
        top: 20px;
        left: 20px;
    }
    .bottom-overlay{
        padding-top: 20px;
    }
}
    